# Tags can also be specified via a normal map, but only one form at a time:
[tags]
{% if influxdb_tags is defined %}
{% for tag_name, value in influxdb_tags.iteritems() %}
{{ tag_name }} = "{{ value }}"
{% endfor %}
{% endif %}
scenario = "{{ lm_run }}"
run = "{{ lm_scenario }}"

# Configuration for telegraf agent
[agent]
  # Default data collection interval for all plugins
  interval = "1s"
  # Rounds collection interval to 'interval'
  # ie, if interval="10s" then always collect on :00, :10, :20, etc.
  round_interval = true

  # Default data flushing interval for all outputs
  flush_interval = "10s"
  # Jitter the flush interval by a random range
  # ie, a jitter of 5s and interval 10s means flush will happen every 10-15s
  flush_jitter = "5s"
  # Number of times to retry each data flush
  #--flush_retries = 2

  # Run telegraf in debug mode
  debug = false
  # Override default hostname, if empty use os.Hostname()
  hostname = "{{ ansible_hostname }}"


###############################################################################
#                                  OUTPUTS                                    #
###############################################################################

[outputs]

# Configuration for influxdb server to send metrics to
[outputs.influxdb]
  urls = ["http://{{ influxdb_host }}:{{ influxdb_port }}"] # required.

  database = "{{ influxdb_database }}" # required.

  precision = "s"

  username = "{{ influxdb_user }}"
  password = "{{ influxdb_pass }}"


#                                  PLUGINS                                    #
###############################################################################

[cpu]
[disk]
[io]
[mem]
[net]
# interfaces = ["eth0", ... ]
[swap]
[system]
